nav.navbar {
  background: #2c3e50;
}

nav.navbar a,
nav.navbar a.navbar-brand,
nav.navbar a.navbar-brand:hover {
  color: white;
}
.panel-chat{
    float: right;
    width: 25%;
    padding-bottom: 5px;
}
.panel-game{
    float: left;
    width: 75%;
    height: 100%;
}
